
body {
  margin-top: 70px; /* Ajusta el valor según la altura de la navbar */
}
.navbar {
    background-color: #F4C6D7;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px 20px;
    position: fixed; /* Fija la barra en su lugar */
    top: 0; /* Asegura que esté en la parte superior */
    z-index: 1000; /* Coloca la barra encima de otros elementos */
}
  
.navbar-header {
    display: flex;
    align-items: center;
}
.navbar-header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
  

.navbar .navbar-brand {
    color: #d6036d;
    font-weight: bold;
    font-size: 23px;
}
  
.navbar .navbar-nav li a {
    color: #d34f91;
    font-size: 18px;
    font-weight: bold;
}
  
.navbar .navbar-nav li a:hover {
    color: #d6036d;
    text-decoration: none;
    cursor: pointer;
}


/* Carrusel */
.carousel {
    padding-top: 20px;
  }

  /* Estilo para el carrusel */
  #carouselExampleIndicators {
    margin: 0 auto; /* Centra el carrusel */
    max-width: 600px;
  }

  .carousel-inner img {
    height: 400px; /* Altura fija para el carrusel */
    object-fit: cover; /* Ajusta las imágenes sin distorsionarlas */
    border-radius: 10px;
  }

  .carousel-indicators button {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1); /* Cambia el color de los íconos de control */
  }


/* Contenido */
.contenido{
    padding: 30px 100px;
    text-align: justify;
}
.contenido h1, h3{
    font-weight: bold;
    text-align: center;
    color: #96064e;
}

.contenido p, li{
    font-size: 20px;
}

.contenido table {
  font-size: 20px;
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
  border: 2px solid #444;
  text-align: center;
}

.contenido table th, 
.contenido table td {
  border: 1px solid #444; 
  padding: 5px; /* Espacio interno en las celdas */
}

.imagen{
  text-align: center;
  width: 100%;
}
.imagen img{
  width: 700px;
}