
/* Aseguramos que la imagen y el texto de la marca se alineen a la izquierda */
.navbar {
    background-color: #F4C6D7;  /* Fondo rosado suave */
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px 20px;  /* Ajusta el relleno para mayor espacio */
}
  
.navbar-header {
    display: flex;
    align-items: center;
}
.navbar-header img {
    width: 50px;  /* Ajusta el tamaño de la imagen */
    height: auto;  /* Mantiene la proporción de la imagen */
    margin-right: 10px;  /* Da espacio entre la imagen y el texto */
}
  

.navbar .navbar-brand {
    color: #d6036d;  /* Rosa fuerte para la marca */
    font-weight: bold;
    font-size: 23px;
}
  
.navbar .navbar-nav li a {
    color: #d34f91;  /* Rosa más claro para los enlaces */
    font-size: 18px;
    font-weight: bold;
}
  
.navbar .navbar-nav li a:hover {
    color: #d6036d;  /* Rosa fuerte al pasar el mouse */
    text-decoration: none;
    cursor: pointer;
}


/* Carrusel */
/* Espacio debajo del header */
.carousel {
    padding-top: 20px; /* Ajusta según la altura del header */
  }

  /* Estilo para el carrusel */
  #carouselExampleIndicators {
    margin: 0 auto; /* Centra el carrusel */
    max-width: 600px; /* Ancho máximo para imágenes */
  }

  .carousel-inner img {
    height: 400px; /* Altura fija para el carrusel */
    object-fit: cover; /* Ajusta las imágenes sin distorsionarlas */
    border-radius: 10px; /* Bordes redondeados para un diseño más atractivo */
  }

  .carousel-indicators button {
    background-color: rgba(255, 255, 255, 0.7); /* Indicadores más visibles */
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1); /* Cambia el color de los íconos de control */
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
  }

/* Contenido */
.contenido{
    padding: 30px 100px;
    text-align: justify;
}
.contenido h1, h3{
    font-weight: bold;
    text-align: center;
    color: #96064e;
}

.contenido p, li{
    font-size: 20px;
}
