<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="/static/icono.png" alt="icono">
        <a class="navbar-brand" href="#">Bellísima</a>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tipo de datos</a></li>
        <li class="nav-item"><a class="nav-link" href="#">DataWrapper</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Python</a></li>
        <li class="nav-item"><a class="nav-link" href="#">R</a></li>
      </ul>
    </div>
  </nav>