<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="/static/icono.png" alt="icono">
        <a class="navbar-brand" href="#">Bellísima</a>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="/tipo">Tipo de datos</a></li>
        <li class="nav-item"><a class="nav-link" href="/datawrapper">DataWrapper</a></li>
        <li class="nav-item"><a class="nav-link" href="/python">Python</a></li>
        <li class="nav-item"><a class="nav-link" href="/r">R</a></li>
      </ul>
    </div>
  </nav>