{% include 'header.html' %} {% include 'navbar.html' %}
<style>
    .imagen{
        text-align: center;
        width: 100%;
    }
    .imagen img{
        width: 700px;
    }
</style>
<div class="contenido">
    <h1>Gráfico de cajas sobre precio unitario por producto</h1>
    <div class="imagen"><img src="/static/Python1.png" alt="Gráfico de cajas sobre precio unitario por producto"></div>
    <p><strong>Interpretación: </strong>Este gráfico nos sirve para analiza la variación de precios entre
        productos, se puede observar en promedio los rubores son los más caros, los
        correctores lo más baratos y las bases son las que tienen el precio más variante.
        Los productos parecen tener un precio unitario muy similar, con pequeñas
        diferencias. </p>
    <p><strong>Recomendaciones: </strong>De todos los productos que tiene la empresa las sombras son
        las que varían más en precios, se deberá analizar si es por el tipo de marcas que
        maneja la empresa. Está muy bien manejar diferentes tipos de precios para cada
        producto porque así la empresa se puede adaptar a los diferentes presupuestos de
        sus clientes y mantenerlos felices a todos.</p>
    <br><br>

    <h1>Gráfico de barras sobre la relación de los estados y su total de ventas</h1>
    <div class="imagen"><img src="/static/Python2.png" alt="Gráfico de barras sobre la relación de los estados y su total de ventas"></div>
    <p><strong>Interpretación: </strong>Este gráfico nos ayuda a identificar como van las ventas según los
        estados en los que se encuentran las sucursales, por ejemplo, se observa que en
        Nuevo León y Chihuahua el total de las ventas son menores y Jalisco es el estado
        que más vende. También, se observa que en general el total de venta es muy similar
        en la mayoría de los estados, no es demasiada la diferencia a excepción de unos
        cuantos estados que es menor su total de venta.</p>
    <p><strong>Recomendaciones: </strong>La empresa puede ver si la tienda de Jalisco tiene alguna
        estrategia que se pueda implementar en los otros estados para generar más ventas
        o inventar alguna para tener más ingresos en los estados como Nuevo León o
        Chihuahua que no tienen un total de venta muy alto.</p>
    <br><br>

    <h1>Gráfico de pastel para ver la frecuencia en los métodos de pago</h1>
    <div class="imagen"><img src="/static/Python3.png" alt="Gráfico de pastel para ver la frecuencia en los métodos de pago"></div>
    <p><strong>Interpretación: </strong>Con este gráfico podemos ver que los clientes prefieren usar
        transferencia como método de pago, sin embargo, es muy poca la diferencia entre
        pagar con efectivo o transferencia. </p>
    <p><strong>Recomendaciones: </strong>Tener las dos opciones de pago ya que ambas son muy viables
        y aun utilizadas por los clientes.</p>

    <h1>Gráfico de líneas para ver las ventas por mes según los años</h1>
    <div class="imagen"><img src="/static/Python4.png" alt="Gráfico de líneas para ver las ventas por mes según los años"></div>
    <p><strong>Interpretación: </strong>Con este gráfico nos damos cuenta de que las ventas en 2024 han
        mejorado pues la línea se ve más arriba a comparación de la del año 2023,
        En el año de 2023 el mes donde se vendió menos fue en junio y el mayor en octubre,
        a lo largo de ese año han cambios significativos pues se ven varias caídas en las
        ventas y algunas subidas muy repentinas.
        En el año 2024 no hubo una caída en las ventas tan notoria como en el 2023 pero
        fue el mes de agosto donde se notó que hubo menores ventas y se octubre a
        noviembre se han producido las mejores ventas, se esperaría que por las
        temporadas que vienen las ventas sigan creciendo.
        </p>
    <p><strong>Recomendaciones: </strong>Aprovechar que los últimos de meses del año es cuando más
        ganancias se obtiene y meses como Junio que en ambos años se ve una caída
        hacer más difusión de la marca, generar estrategias de venta como promociones,
        oportunidades de ganar un producto en la compra de otro producto o de cierta
        cantidad alcanzada, para así atraer clientes.</p>
</div>

{% include 'footer.html' %}
